/**
 * This file holds the declaration of the fonts used in our layout.
 */


@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/tex/texgyreschola-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('/fonts/tex/texgyreschola-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'ocr';
    src: url('/fonts/Ocr-Pbi-LibreObjet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocr-hovel';
    src: url('/fonts/Ocr-Pbi-hovelbot-6pt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ocr-long';
    src: url('/fonts/Ocr-Pbi-hovelbot-5pt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ocr-x1-y1';
    src: url('/fonts/Ocr-Pbi-pen_x1_y1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: url('/fonts/crimson-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson';
    src: url('/fonts/crimson-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
