@import '../../../css/main.less';



#flow-main > h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;
}

#flow-main .bdp{
    -webkit-flow-into: flow-bdp;
            flow-into: flow-bdp;
}
.flow-bdp{
    -webkit-flow-from: flow-bdp;
            flow-from: flow-bdp;
}
#flow-main .dialog{
    -webkit-flow-into: flow-dialog;
            flow-into: flow-dialog;
}
.flow-dialog{
    -webkit-flow-from: flow-dialog;
            flow-from: flow-dialog;
}

#flow-main .cred{
    -webkit-flow-into: flow-cred;
            flow-into: flow-cred;
}

.flow-cred{
    -webkit-flow-from: flow-cred;
            flow-from: flow-cred;
}
#flow-main .present{
    -webkit-flow-into: flow-pres;
            flow-into: flow-pres;
}

.flow-pres{
    -webkit-flow-from: flow-pres;
            flow-from: flow-pres;
}
#flow-main .encadre{
    -webkit-flow-into: flow-encadre;
            flow-into: flow-encadre;
}

.flow-encadre{
    -webkit-flow-from: flow-encadre;
            flow-from: flow-encadre;
}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
  .puce(60%, 10pt);
  // font-size: @size*2.2 !important;
  // line-height: @line*2.18!important;
}

h3{
  p{
    // font-size: @size*1 !important;
    // line-height: @line*1!important;
  }
  .puce(0pt, 0pt);
  .puce-numb(20%, 6pt);
}

h3:nth-of-type(1){

  p:nth-of-type(1){
    text-align: left;
    margin-left: @size*8;
  }
  p:nth-of-type(2){
    text-align: center;
    margin-right: @size*3;
  }
}

h3:nth-of-type(2){

  p:nth-of-type(1){
    text-align: center;
    margin-left: @size*2;
  }
  p:nth-of-type(2){
    margin-left: @size*6;
  }
}
h3:nth-of-type(3){

  p:nth-of-type(1){
    text-align: center;
    margin-right: @size*2;
  }
  p:nth-of-type(2){
    text-align: center;
    margin-left: @size*6;
  }
}
.dialog{
  font-family: 'ocr-long';
  font-size: @size/1.8;
  line-height: @line/1.7;
  .puce(0pt, -10pt);
  h1{
    font-family: 'ocr-long';
    font-size: @size/1.8 !important;
    line-height: @line/1.7 !important;
    text-decoration: underline;
  }
  h2, h3{
    margin-left: @line;
    font-size: @size/1.8 !important;
    line-height: @line/1.7 !important;
  
  }
  p{
    width: 280pt;
    margin-left: @line*4;
    font-family: 'ocr-x1-y1';
    font-size: @size/1.7 !important;
    line-height: @line/1.6 !important;
    text-align: left;
  }
}

.cred{
    margin-left: 0pt;
    font-size: @size/1.5 !important;
}

img{
  margin-left: 10%;
  width: 80%;
  height: auto;
}
.present{
  font-family: 'ocr-long';
  font-size: @size/1.8;
  line-height: @line/1.7;
  .puce(-10pt, 0pt);
  h1{
    font-family: 'ocr-long';
    font-size: @size/1.8 !important;
    line-height: @line/1.7 !important;
    text-decoration: underline;
  }
  h2, h3{
    margin-left: @line;
    font-size: @size/1.8 !important;
    line-height: @line/1.7 !important;
  
  }
  p{
    text-indent: @line*2;
    width: 320pt;
    margin-left: @line*4;
    font-family: 'ocr-x1-y1';
    font-size: @size/1.7 !important;
    line-height: @line/1.6 !important;
    text-align: left;
  }
}


.encadre{
  h2{
    font-size: @size/1.75 !important;
    line-height: @line/1.75 !important;
    font-family: 'ocr-long';
    text-align: left;
  }
  p{
    font-size: @size/1.75 !important;
    line-height: @line/1.75 !important;
    font-family: 'ocr-x1-y1';
    text-align: left;
  }
    margin-bottom: @line/1.75 !important;

}

.paper:nth-child(odd) .body:before { content: "";}
body { counter-reset: folio 72;}
#page-3 .body::after,
#page-3 .body::before
{
  display: none;
}
