@import '../../../css/main.less';

#flow-main h1 {
    -webkit-flow-into: flow-title;
            flow-into: flow-title;
}

.flow-title{
    -webkit-flow-from: flow-title;
            flow-from: flow-title;

}

#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main{
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
	    margin-bottom: -6pt;
}

h1{
    span:nth-of-type(2){
      margin-left: 40pt;
    }
    span:nth-of-type(3){
      margin-left: 15pt;
    }
    span:nth-of-type(4){
      margin-left: 35pt;
    }
  .puce(30%, 6pt);
}

.table{
  //text-align: center !important;
  line-height: @line*1.2;
  // text-decoration: underline;
  h2{
    font-family: 'ocr';
    font-size: @size*1.2;
    small{
      font-family: 'ocr-x1-y1';
      font-size: @size/1.5;
    }
  }
  h2 + h2{
    margin-top: @line;
  }
  h3{
    margin: 0pt !important;
    // margin-left: 10mm !important;
    font-family: 'ocr';
    font-size: @size/1.5;
  }
  span{
    font-family: 'ocr-long';
    margin-right: @line;
    font-size: @size/2;
  }
  span:before{
    content: ' -> P.';
  }


}

img{
  display: none;
}
.body::after, .body::before {
  display: none !important;
}
